h1{
    width: 30%;
    height: 90px;
    color: white;
    background-color: red;
    color: white;
    border-radius: 3%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    font-size: medium;
}