/* imports de fontes*/
@font-face {
    font-family: Inconsolata;
    src: url(./fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right bottom, #18a2c9, #72c3bd);
    background-repeat: no-repeat;
   
}

/* Desktop First */
.container{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}

.container--flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 10px 0;
    /* height: 80px; */
}

.header__logo{
    width: 100px;
}

.header__title{
    font-family: Inconsolata;
    color: #ded27c;
}

.header__text{
    color: white;
}

.contact-form{
    padding: 20px;
}

.contact-form__linha{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-form__col-a{
     width: 10%;
     display: flex;
     align-items: center;
}

.contact-form__col-b{
     display: flex;
     justify-content: space-between;
     width: 90%;
}

.contact-form__label{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: 600;
}

.contact-form__input{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    outline: none;

    transition: background-color 0.4s, color 0.4s, border 0.4s;
}

.contact-form__input:focus{
    background-color: #72c3bd;
    color: white;
    border: 1px solid white;
}

/* modificadores*/
.contact-form__input--metade{
    width: 48%;
    height: 35px;
}

.contact-form__input--inteiro{
     width: 100%;
     height: 35px;
}

.contact-form__input--terco{
     width: 32%;
     height: 35px;
}

.contact-form__input--quarto{
     width: 24%;
     height: 35px;
}

.contact-form__input--anotacoes{
     width: 100%;
     height: 150px;
     color: #18a2c9;
     padding: 5px 10px;
     border: none;
}

.container-form__col-a--anotacoes{
    align-items: flex-start;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
}

.contact-form__button--medate {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    width: 450px;   
    height: 55px;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form__button--medate:hover {
    background-color: #72c3bd;
    color: #ffffff;
}

/* Breakpoints - tablets*/
@media screen and (max-width: 991px){
    
}

/* Breakpoints - smartphones*/
@media screen and (max-width: 767px){
    
}